entrypoint = "server.js"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_11"

[deployment]
build = ["npm", "install"]
run = ["node", "server.js"]

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
